EXPO_PUBLIC_SPACETIMEDB_URI=wss://maincloud.spacetimedb.com
EXPO_PUBLIC_SPACETIMEDB_DB=worm-world-server
# Set to 'true' to show all event modes (otherwise only 2 weeks before/after)
VITE_DEV_MODE=true
EXPO_PUBLIC_DEV_MODE=true
